#  *   COPY_RPC_URL                  - testnet RPC URL
#  *   COPY_VAULT_ADDRESS            - CopyVault deployment address
#  *   COPY_BOT_OPERATOR_PRIVATE_KEY - the operator key set in the vault's constructor